@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: lightgray;
}

h1 {
    text-align: center;
    color: darkgreen;
}

p {
    text-align: center;
    color: darkblue;
    size: 20px;
}